.footer{
    width: 100vw;
    height: 4rem;
    padding: 15px 23px;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
   
}
.footer span a{
    color: crimson;
    text-decoration: none;
    font-weight: 500;
    font-family: Poppins;
    
    
}
footer span a:hover{
    text-decoration: underline;
    font-weight: 600;
}